.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.investment {
  width: 572.74px;
  height: 632px;
}
#aboutUs {
    scroll-margin-top: 80px; /* Height of the fixed header */
  }
  